/*third party icon library*/
@font-face {
	font-family: 'metro';
	src: url('../f/metro.eot?izvoei');
	src: url('../f/metro.eot?#iefixizvoei') format('embedded-opentype'), url('../f/metro.woff?izvoei') format('woff'), url('../f/metro.ttf?izvoei') format('truetype'), url('../f/metro.svg?izvoei#metro') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon-font{
	font-family:'metro';
	display:inline-flex !important;
	align-items:center !important;
	justify-content:center !important;
}

body {
	/*background-color: rgb(255, 246, 230);*/
	margin:0;		
}

header>h2 {
	margin-top:0;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 1.5em;
	font-variant:small-caps;
	text-align:center;
}

header>h1 {
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 2em;
	font-variant:small-caps;
	text-align:center;
}


main {
	margin: auto;
    width: 600px;
	background-color: white;
	height: 100vh;
	padding-top:3em;
}

.main2 {
	margin: auto;
    width: 600px;
	background-color: white;	
	padding-top:3em;
}

.main3 {
	margin: auto;
    width: 600px;
	background-color: white;
	padding: 1em; 
	padding-top:3em;	
}
table {
	width:100%;
}

header {
	text-align:center;
}

table td {
	padding:1ex;	
}

.tags {
	margin:0;
	padding:0;
	font: italic bold 0.8em "Lucida Sans Unicode", "Lucida Grande", sans-serif ;
}

.roundlabel {
	display:block;
	border-radius: 50%;
    background: rgb(255,187,51);
    padding: 10px; 
    width: 4.5em;
    height: 2.5em;
	font: italic bold 1em Georgia, serif;
	text-align:center;
}

.buttonsrow td {
	margin-top:0;
	padding-top:0;
}

h3 {
	font-size:1.1em;
	margin:0;
	padding:0;
}

h3 a:link {
    color: black;
	font: normal 400 18px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-decoration:none;
}

h3 a:visited {
    color: black;
	font: normal 400 18px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-decoration:none;
}

/* mouse over link */
h3 a:hover {
    color: black;
	font: normal 400 18px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-decoration:none;
}

/* selected link */
h3 a:active {
    color: black;
	font: normal 400 18px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-decoration:none;
}

time {
	font-size:0.7em;
}

.main3 p {
	font-size: 0.9em;
}

ul h2 {
	margin:0;
	font-size: 1.2em;
	font-weight: 700;
}

ul h4 {
	margin:0;
	font-size: 0.9em;
	font-weight: 400;
}

